doctype 5
html
	head
		title Glitch Feats Data

		link(type="image/png", rel="icon", href="/favicon.png")
		link(type="text/css", rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato")
		link(type="text/css", rel="stylesheet", href="assets/style.css")

		meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
	body
		div#container 
			h1 Feats statistics 
			ul#feats
				each feat in feats 
					li(data-feat-id=feat.id) #{feat.name} 
						if feat.epic
							span.epic= feat.epic

			div#data
				div#feat-text
					h2
						a
					h3 Result 
					p#feat-desc
					h3 Legend
					p#feat-legend

				div#sidebar
					h3 Goals 
					ul#goals

					h3 Rewards 
					ul#rewards

				div#histogram

			p#intro 
				| Feats are massive collective projects that any player can 
				| contribute to in Glitch. They last for 24 hours and at the end of 
				| each feat new content is released and top contributors are 
				| given prizes. Click on any of the feat above to begin.

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='assets/d3.min.js')
		script(src='assets/page.js')